TONBANKCARD_PROFILE=local
TONBANKCARD_LOCAL_BASE_URL=http://localhost:8888/
TONBANKCARD_STAGING_BASE_URL=
TONBANKCARD_PUBLIC_BASE_URL=
TONBANKCARD_TELEGRAM_BASE_URL=

TONBANKCARD_DEBUG=
TONBANKCARD_APP_MINIFIED=
TONBANKCARD_PRECONNECT=true
TONBANKCARD_CDN=false

TONBANKCARD_BOT_USERNAME=
TONBANKCARD_BOT_TOKEN=
COINGECKO_API_KEY=
GROQ_API_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
MYSQL_DSN=
MYSQL_USER=
MYSQL_PASSWORD=
CHANGENOW_LINK_ID=

TONBANKCARD_FEATURE_AI=false
TONBANKCARD_FEATURE_ALERTS=false
TONBANKCARD_FEATURE_CHANGENOW=false
TONBANKCARD_FEATURE_TON_CONNECT=false
TONBANKCARD_FEATURE_REFERRALS=false
TONBANKCARD_FEATURE_GAMIFICATION=false
TONBANKCARD_FEATURE_PREMIUM=false
